.board{
    height: 500px;
    width: 500px;
    display: grid;
    background-color: white;
    }

.board:hover{
    cursor: pointer;
}

.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
  }
  .title{
    display:flex;
    justify-content: center;
    color: brown;
  }

  .buttons{
  margin-top: 10px;
  margin-bottom: 10px;
  }
  button {
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
  }
  button:hover {
    cursor: pointer;
}
.mode{
    color: blue;
    margin-bottom: 5px;
}
.blackButton {
    background-color:lightblue;
    color:black;
}
.blackButton:hover {
    background-color: rgba(red, green, blue, alpha);
    color: black;
    background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
}
.blueButton {
    background-color:blue;
    color:white;
}
.blueButton:hover {
    background-color: rgba(red, green, blue, alpha);
    color: black;
    background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
}
.randomButton {
    background-color:goldenrod;
    color:white;
}
.randomButton:hover {
    background-color: rgba(red, green, blue, alpha);
    color: black;
    background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
}

  .eraseButton {
    background-color: yellowgreen;
    color: rgb(0, 0, 0);
  }
  .eraseButton:hover {
    background-color: greenyellow;
    color: rgb(255, 255, 255);
    background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
  }

  .redButton {
    background-color:red;
    color:white;
}
.redButton:hover {
    background-color: rgba(red, green, blue, alpha);
    color: black;
    background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
}
.reset{
 
  background-color: orangered;
 
}
.reset:hover{
  background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
}
.size:hover{
  background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
}

input {
  width: 25px;
  
}
.error {
  display: none;
}
size {
  text-align: center;
}